<h1>Listing Announcements</h1>

<table class="table table-condensed table-striped table-bordered table-clickable">
  <thead>
    <tr>
      <th>Text content</th>
      <th>Data</th>
      <th>Filename</th>
      <th>Mime type</th>
      <th>User</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @announcements.each do |announcement| %>
      <tr>
        <td><%= announcement.text_content %></td>
        <td><%= announcement.data %></td>
        <td><%= announcement.filename %></td>
        <td><%= announcement.mime_type %></td>
        <td><%= announcement.user_id %></td>
        <td><%= link_to 'Edit', edit_announcement_path(announcement) %></td>
        <td><%= link_to 'Delete', announcement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Announcement', new_announcement_path, :class => "btn btn-success" %>
